* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s linear;
}
html {
  /* we use this to make 1 rem = 10px */
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #555;
  line-height: 1;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.sub-heading {
  color: #cf711f;
  display: block;
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 1.6rem;
}
.heading-secondary {
  font-size: 4.4rem;
  margin-bottom: 9.6rem;
}
.heading-step {
  font-size: 3rem;
  margin-bottom: 3.2rem;
}
.heading-secondary,
.heading-step {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  line-height: 1.2;
}
a {
  text-decoration: none;
}

.btn {
  border-radius: 9px;
  padding: 1.6rem 3.2rem;
  font-weight: 600;
  font-size: 2rem;
  display: inline-block;
}
.btn-full {
  background-color: #e67e22;
  color: #fff;
}
.btn-full:hover {
  background-color: #cf711f;
}
.btn-outline {
  background-color: #fff;
  color: #555;
}
.btn-outline:hover {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}
.margin-right {
  margin-right: 1.6rem;
}
.center-text {
  text-align: center;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-item {
  font-size: 1.8rem;
  line-height: 1.2;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}
